health_insurance_prediction_nodeflow.json
[
    {
        "id": "b3bab339.a8faa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd796aa4.83d3d8",
        "type": "ui_form",
        "z": "b3bab339.a8faa",
        "name": "",
        "label": "",
        "group": "99d0fbdd.e8f6a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Age",
                "value": "rd",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Sex (Male/Female)",
                "value": "se",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "ms",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Children Count",
                "value": "ad",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Smoker (Yes/No)",
                "value": "st",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Region (Southwest/Northwest)",
                "value": "rg",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "rd": "",
            "se": "",
            "ms": "",
            "ad": "",
            "st": "",
            "rg": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 50,
        "y": 240,
        "wires": [
            [
                "fbf05860.245e98",
                "57e504e3.8065ac"
            ]
        ]
    },
    {
        "id": "fbf05860.245e98",
        "type": "debug",
        "z": "b3bab339.a8faa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 320,
        "wires": []
    },
    {
        "id": "57e504e3.8065ac",
        "type": "function",
        "z": "b3bab339.a8faa",
        "name": "pre-token",
        "func": "global.set(\"rd\",msg.payload.rd)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"wWO-Z6_B0b_v9EVNF7iCnU-E5T_X4UXUKiAZeLYHL8cn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "d42cf43.a248e08"
            ]
        ]
    },
    {
        "id": "d42cf43.a248e08",
        "type": "http request",
        "z": "b3bab339.a8faa",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 392.00000381469727,
        "y": 224.00000286102295,
        "wires": [
            [
                "8d8963ae.cf815",
                "e31daac7.c96f28"
            ]
        ]
    },
    {
        "id": "8d8963ae.cf815",
        "type": "debug",
        "z": "b3bab339.a8faa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "e31daac7.c96f28",
        "type": "function",
        "z": "b3bab339.a8faa",
        "name": "Pre Prediction",
        "func": "var rd = global.get(\"rd\")\nvar se = global.get(\"se\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar rg = global.get(\"rg\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"BMI\", \"Children\", \"Smoker\",\"region\"]],\"values\": [[rd,se,ad,ms,st,rg]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 584.0000076293945,
        "y": 176.0000021457672,
        "wires": [
            [
                "3fd74ea3.478a22"
            ]
        ]
    },
    {
        "id": "3fd74ea3.478a22",
        "type": "http request",
        "z": "b3bab339.a8faa",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://us-south.ml.cloud.ibm.com/ml/v4/deployments/02bbc0fa-9d62-4c66-9e4c-b9cad673a34f/predictions?version=2020-09-01",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "a84a16e9.58efa8",
                "14c0bfec.74016"
            ]
        ]
    },
    {
        "id": "a84a16e9.58efa8",
        "type": "debug",
        "z": "b3bab339.a8faa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 962.9999914169312,
        "y": 284.00000381469727,
        "wires": []
    },
    {
        "id": "e28896ea.4881e8",
        "type": "inject",
        "z": "b3bab339.a8faa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "57e504e3.8065ac"
            ]
        ]
    },
    {
        "id": "38c3893.99af576",
        "type": "debug",
        "z": "b3bab339.a8faa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 793.9999885559082,
        "y": 67.0000057220459,
        "wires": []
    },
    {
        "id": "14c0bfec.74016",
        "type": "function",
        "z": "b3bab339.a8faa",
        "name": "Parsing",
        "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 639.6000595092773,
        "y": 108.00000190734863,
        "wires": [
            [
                "38c3893.99af576",
                "a4481166.64f36"
            ]
        ]
    },
    {
        "id": "a4481166.64f36",
        "type": "ui_text",
        "z": "b3bab339.a8faa",
        "group": "99d0fbdd.e8f6a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 757.6000366210938,
        "y": 341.20001220703125,
        "wires": []
    },
    {
        "id": "99d0fbdd.e8f6a8",
        "type": "ui_group",
        "z": "",
        "name": "Health Insurance Prediction form",
        "tab": "1699707e.90bcd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1699707e.90bcd",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]